.wrapper {
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}

.inverted {
    color: black;
    background: white;
    border: 1px solid black;
}

/*글로벌 클래스 작성*/
:global .something {
    font-weight: bold;
    color: aqua;
}